.bgm-player-widget {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000; /* 确保在最上方 */
}

.bgm-btn {
    width: 45px;
    height: 45px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(5px);
    border: none !important;
}

.bgm-btn:hover {
    transform: scale(1.1);
}