.boss-card-unit {
    border: 1px solid #ccc;
    margin-bottom: 2px;
    background: #fff;
    width: 100%;
}

.boss-header-bar {
    background: #b21e1e; /* 经典深红底 */
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    font-size: 16px;
}

.boss-body {
    display: flex;
    align-items: stretch;
}

.boss-img-container {
    width: 120px;
    height: 120px;
    border-right: 1px solid #ccc;
    flex-shrink: 0;
}

.boss-img-fixed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boss-desc-area {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}