.ghost-dlc-btn {
    background: transparent;
    border: none;
    color: rgba(255,255,255,0.2);
    cursor: pointer;
    margin-top: 100px;
    transition: color 0.5s;
}

.ghost-dlc-btn:hover {
    color: rgba(255,255,255,0.4);
    text-shadow: 0 0 10px #a4d007;
}